@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

/* glyph fonts */
@font-face {
	font-family: 'NMS-Glyphs-Mono';
	src: local('NMS-Glyphs-Mono'), url('./fonts/NMS-Glyphs-Mono.ttf') format('truetype');
}

html,
body {
	font-family: Nunito;
	scroll-behavior: smooth;
	scrollbar-gutter: stable;
}

.container {
	margin-block-end: 5rem;
	margin-block-start: 1rem;
}

header {
	margin-block-end: 2rem;
}

.glyphs {
	font-family: NMS-Glyphs-Mono;
	font-size: 3rem;
	word-break: break-word;
}

.portal-buttons {
	display: grid;
	grid-template-columns: repeat(8, auto);
	max-width: 40rem;
}

.portal-buttons button {
	line-height: 3rem;
	padding: 0;
}

@media only screen and (max-width: 767px) {
	.portal-buttons {
		display: flex;
		flex-wrap: wrap;
	}

	.portal-buttons button {
		width: 4rem;
	}
}

#delButton {
	margin-inline: 0.5em;
	width: auto;
}

.title {
	text-align: center;
	margin-block-end: 2rem;
}

.tag {
	font-family: 'Consolas', monospace;
}

input.input {
	width: min(max(30%, 10rem), 100%);
}

.actions>input {
	width: auto;
}

.is-danger {
	background-color: indianred;
	border: 1px solid firebrick;
}

.themeswitcher {
	width: auto;
	margin: 0 auto;
}

.output {
	border-radius: var(--border-radius);
	padding: .25rem;
}

.output>* {
	display: block;
}

.error {
	background-color: red;
}

.error .glyphs {
	font-family: inherit;
	font-size: inherit;
}

input.error {
	background-color: lightcoral;
}